@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

.btn-custom {
  @apply px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm;
}

.dice-location {
  @apply h-[80px] w-[100px] flex items-center justify-center border-solid border-2;
  background: hsl(var(--a) / 0.15);
  border-radius: 6px;
  border-color: hsl(var(--a) / 0.15);
}

.dice-column:hover.ready {
  background: hsl(var(--s) / 0.3);
  cursor: pointer;
  border-radius: 6px;
}

.centered {
  @apply flex items-center justify-center
}